<div class="example-container mat-elevation-z8">
  <!-- <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/product-add']"><mat-icon>add</mat-icon></a>
  </div> -->
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/product-add']"><mat-icon>add</mat-icon></a>
  </div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="productData" class="example-table"
           matSort matSortActive="prod_code" matSortDisableClear matSortDirection="asc">

      <!-- Product Code Column -->
      <ng-container matColumnDef="prod_code">
        <th mat-header-cell *matHeaderCellDef>Product Code</th>
        <td mat-cell *matCellDef="let row">{{row.code}}</td>
      </ng-container>

      <!-- Product Name Column -->
      <ng-container matColumnDef="prod_name">
        <th mat-header-cell *matHeaderCellDef>Product Name</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>

      <!-- Product Price Column -->
      <ng-container matColumnDef="prod_price">
        <th mat-header-cell *matHeaderCellDef>Product Name</th>
        <td mat-cell *matCellDef="let row">{{row.price | currency:'VND'}}</td>
      </ng-container>

      <!-- Product Volume Column -->
      <ng-container matColumnDef="prod_vol">
        <th mat-header-cell *matHeaderCellDef>Product Volume</th>
        <td mat-cell *matCellDef="let row">{{row.volume}}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let row">
          <div>
            <!-- <input type="text" style="width: 50px"/> -->
            <button mat-raised-button color="primary" (click)="onSearchClick(row)"><img src="../../../assets/icons/shopping_cart-24px.svg" />
            </button>
          </div>
      </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <br/>
  <div [hidden]="buyItem.length < 1">
    <ul *ngFor="let item of buyItem">
      <li>{{item.code}}<input  type="text" style="width: 50px; margin: 10px;" [(ngModel)]="item.quantity" /></li>
    </ul>
    <button mat-raised-button color="primary" (click)="onBuy()">Buy</button>
  </div>

  <br/>
  <hr/>
  <div>
    <div><span style="margin: 10px; font-size: x-large; font-weight:bold">Order List</span></div>
    <table mat-table [dataSource]="orderList" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="customer_name">
          <th mat-header-cell *matHeaderCellDef> Customer Name </th>
          <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="detail">
          <th mat-header-cell *matHeaderCellDef> Order Detail </th>
          <td mat-cell *matCellDef="let element">
            <div *ngFor="let data of element.orderDetails" style="padding:5px;">
              <label><span>{{data.productCode}} | {{data.quantity}}</span></label>
            </div>
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="total_amount">
          <th mat-header-cell *matHeaderCellDef> Total Amount </th>
          <td mat-cell *matCellDef="let element"> {{element.total | currency:'VND'}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="orderDisplayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: orderDisplayColumns;"></tr>
      </table>
  </div>
</div>
